.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

Tracker {
    width: 100%;
    display: flex;
    justify-content: center;
}

.head {
    color: blue;
    font-weight: bolder;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}